@model PingPongApp.Models.PlayerMatchDetail
@{
                /**/

                ViewBag.Title = "PlayerInfo";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

@if(@Model.NumberOfGamesPlayed == 0)
{
<div class="row mb-4">
    <div class="col">
        <h2>This player has no matches</h2>
    </div>
</div>
}
else
{


<div class="row mb-4">
    <div class="col">
        <h2>@Model.PlayerName</h2>
    </div>
</div>

<div class="row mb-4">
    <div class="col col-sm-12">
        <div class="card-deck">
            <div class="card bg-light">
                <div class="card-header">Basic Info</div>
                <div class="card-body">
                    <ul>
                        <li>Name: @Model.PlayerName</li>
                        <li>Age: @Model.PlayerAge</li>
                    </ul>
                </div>
            </div>
            <div class="card bg-light">
                <div class="card-header">Stats</div>
                <div class="card-body">
                    <ul>
                        <li>Matches Played: @Model.NumberOfGamesPlayed</li>
                        <li>Wins: @Model.PercentWon %</li>
                    </ul>
                </div>
            </div>
            <div class="card bg-light">
                <div class="card-header">Trivia</div>
                <div class="card-body">
                    <p class="card-text">Trivia Coming Soon!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-sm-12 col">
        <div class="card bg-light mb-3">
            <div class="card-header">Player Comparison</div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Opponent</th>
                            <th scope="col">Winner of Last Match</th>
                            <th scope="col">Win % Against Opponent</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var match in Model.OpponentInfo)
                        {
                            <tr>
                                <td>@match.PlayerName</td>
                                <td>@match.WinnerName</td>
                                <td>@match.PercentWon %</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
}